.header {
  background-color: #1c2b35;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

.header a {
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  margin-left: 36px;
}

.header a:hover {
  color: yellow;
}
